.huis__pannel {
	width: 920px;
	height:300px;
	border:1px solid #dddddd;
	background: #fff;
}
.huis__pannel-tit {
	padding-left: 30px;
	font-size: 18px;
	color:#333333;
	padding-top: 10px;
	height:67px;
}
.huis__pannel-money {
	color:#e65124;
	font-size:38px;
	font-weight: bold;
	margin-left: 20px;
	height:50px;
	display:inline-block;
}
.huis__pannel-edit {
	font-size:14px;
	color:#2491dd;
	border: 1px solid #2491dd;
	border-radius:15px;
	display:inline-block;
	padding:1px 12px;
	margin-left:30px;
	position: relative;
	top:-8px;
}
.huis__pannel-edit:hover {
	color:#23c1e9;
	text-decoration:none;
}
.huis__pannel-right { 
	float:right; 
	margin-top: 22px;
	margin-right: 108px;
}
.huis__pannel-unit {
	font-size:14px;
	color:#999999;
	padding-right: 30px;
	line-height: 64px;
	margin-left:5px;
}
.huis__pannel-inner {
	padding:0px 30px;
	margin-top: 45px;
}
.huis__pannel-amount {
	width:340px;
	height:120px;
	float:left;
	border-right:1px dashed #d3d3d3;
	position:relative;
}
.huis__pannel-bls {
	padding-right:120px;
	text-align:center;
}
.huis__pannel-amount a {
	display:block;
	width:100px;
	height:36px;
	border-radius:36px;
	color:#fff;
	line-height:36px;
	text-align:center;
	background:#ea9e19;
	letter-spacing: 5px;
	position:absolute;;
	right:20px;
	top:15px;
}
.huis__pannel-amount a:hover {
	text-decoration: none;
	color:#fff;
}

.huis__pannel-amount a.huis__pannel-withraw {
	top:70px;
	background:#fff;
	border:1px solid #ea9e19;
	color:#ea9e19;
	height:34px;
	line-height:34px;
	width:98px;
}
.huis__pannel-my {
	color:#838a9a;
	font-size:36px;
}
.huis__pannel-text {
	font-size:14px;
	color:#666666;
	margin-top:5px;
}
.huis__pannel-bls p:last-child {
	font-size:14px;
	color:#b7b7b7;
	margin-top:15px;
}
.huis__pannel-profit {
	width:275px;
	height:120px;
	float:left;
	border-right:1px dashed #d3d3d3;
	text-align:center;
}
.huis__pannel-award {
	text-align:center;
	width:242px;
	height:120px;
	float:left;
}
.huis__pannel-num {
	color:#838a9a;
	font-size:36px;
	margin-top:10px;
	height:54px;
}
.huis__product {
	width: 920px;
	border: 1px solid #dddddd;
	height:305px;
	background:#fff;
	margin-top:10px;
}
.huis__product-tit {
	height:62px;
	line-height:62px;
	background:#fafafa;
	color:#333333;
	font-size:18px;
	text-indent: 30px;
}
.huis__product-inner {
	padding:0px 30px;
	position:relative;
}
.huis__product-item {
	float:left;
	width:245px;
	height:80px;
	margin-top:70px;
}
.huis__product-item > p {
	font-size:16px;
	color:#333333;
} 
.huis__product-item p:last-child {
	color:#ff7800;
	font-size:32px;
	margin-top:15px;
}
.huis__product-item p.huis__product-text {
	font-size:16px;
	color:#333333;	
	margin-top:30px;
}
.huis__product-btn {
	width:150px;
	height:42px;
	line-height:42px;
	text-align:center;
	color:#fff;
	background:#ea9e19;
	border-radius: 42px;
	display:block;
	right:45px;
	position:absolute;
	top:90px;
	font-size:16px;
}
.huis__product-btn:hover {
	text-decoration:none;
	color:#fff;
}
.huis__pannel-tips {
	top:3px !important;
	left:5px !important;
}
.huis__pannel-m {
	margin-left:20px;
	font-size:26px;
}
.huis__buy {
	width:210px;
	height:160px;
    float: left;
    border-right: 1px dashed #d3d3d3;
    margin-top:35px;	
    margin-left:60px;
}
.huis__cy {
	height:160px;
    float: left;
    margin-top:35px;	
    margin-left:60px;	
}
.huis__buy-tit {
	font-size:16px;
	color:#333333;
}
.huis__buy-tit span {
	font-size:12px;
	background:#57a3ee;
	color:#fff;
	padding:0px 2px;
}
.huis__buy-btn {
	width:130px;
	height:45px;
	background:#ced4e0;
	color:#ffffff;
	font-size:30px;
	line-height:40px;
	text-align:center;
	margin:15px 0px;
}
.huis__buy-label {
	color:#5e5e5e;
	font-size:16px;
}
.huis__buy-profit {
	color:#ff7800;
	font-size:28px;
}
.huis__buy-label--top {
	margin-top:15px;
}
.huis__pannel-ms {
	margin-left:0;
	font-size:26px;
}
.huis__buy-opration {
	margin-top:15px;
}
.huis__buy-in {
    display: inline-block;
    width: 100px;
    height: 36px;
    border-radius: 36px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    background: #ea9e19;
}
.huis__buy-in:hover {
	text-decoration:none;
	color:#fff;
}
.huis__buy-out {
	margin:0 30px;
	font-size:14px;
}
.huis__list {
    border: 1px solid #dddddd;
    background: #fff;
}
.huis__list-tit {
	height:64px;
	line-height:64px;
	text-indent:30px;
	font-weight:bold;
	font-size:18px;
	color:#333333;
	background:#f8f8f8;
}
.huis__list-tit > span {
	font-weight:normal;
	margin-left:35px;
}
.huis__list-tit span:last-child {
	float:right;
	margin-right: 30px;
	font-size:14px;
	color:#858484;
}
#data_list tr th {
	color:#666666;
	font-size:14px;
	font-weight:bold;
}
#data_list tr td {
	font-size:14px;
	color:#666666;
} 
#data_list tr td.gray {
	color:#bab9b9;
}
.mod_date-none {
	margin-top:0px;
	border-top: none;
}
.mlib_list-none {
	min-height:auto;
	margin-top:0px;
	border-top:none;	
}
#data_list tr td.notice {
	color:#e65124;
}
.huis__out {
	background:#fff;
	border: 1px solid #dddddd;
	border-top:none;
}
.huis__form {
	padding:30px 0px 100px 140px;
}
.huis__form .huis__group {
	margin-bottom:20px;
	clear:both;
	color:#333333;
}
.huis__form .huis__group .huis__label {
	width:95px;
	text-align:left;
	float:left;
	color:#5e5e5e;
	font-size:14px;
	padding-top:8px;
}
.huis__form .huis__group .huis__form-item {
	float:left;
}
.huis__form .huis__group .huis__form-item .huis__form-item__amount {
	font-size:26px;
	color:#333333;
}
.huis__form-item__txt {
	color:#2491dd;
	font-weight:bold;
}
.huis__form-item__notice {
	color:#858484;
	margin-top:2px;
}
.huis__form-item__notice span {
	color:#e34e36;
}
.huis__form-input input {
	width:260px;
	height:40px;
	border:1px solid #dedede;
	border-radius:5px;
	padding:0 10px;
	margin-bottom:5px;
}
.huis__form-item__link {
	margin-left:20px;
	color: #2491dd;
}
.huis__form-btn {
	width:150px;
	height:42px;
	text-align:center;
	display:block;
	line-height:42px;
	background:#ea9e19;
	color:#fff;
	font-size:16px;
	border-radius:42px;
	margin-top:50px;
	margin-left:100px;
	letter-spacing:2px;
}
.huis__form-btn.disabled {
	background:#eee;
}
.huis__form-btn:hover {
	text-decoration:none;
	color:#fff;
}
.huis__ruless {
	padding:30px 0 30px 140px;
	border-top:1px solid #dddddd;	
}
.huis__rule dl dt {
	color:#858484;
	font-size:14px;
	font-weight:bold;
	margin-bottom:3px;
}
.huis__rule dl dd {
	color:#858484;
	font-size:14px;
	margin-bottom:3px;
}
.huis__pro {
	background:#fff;
	margin:0px 0px 40px 0px;
	position:relative;
}
.huis__pro .huis__product-item {
	margin-top:0px;
	padding:60px 0px;
	width:305px;
}
.huis__pro .huis__product-item:first-child {
	padding-left:20px;
}
.huis__pro .huis__product-btn {
	top:75px;
}
.huis__prodt {
	font-size:26px;
	color:#424242;
	margin:30px 0px;
}
.huis__prodt span {
	display:inline-block;
	height:28px;
	width:8px;
	background:#da922d;
	position:relative;
	top:4px;
	margin-right:8px;
}
.huis__notice-wrap {
	height:600px;
	position:relative;
}
.huis__notice-title {
	height:48px;
	line-height:48px;
	color:#494949;
	font-size:20px;
	font-weight:bold;
	text-indent:60px;
	background:url(../images/2017/bank__right.png) no-repeat left center;
}
.huis__notice-fail {
	background-image: url(../images/2017/bank_notice.png);
}
.huis__notice-fail span {
	color:#e65124;
	margin-right:10px;
}
.huis__notice-inner {
	position:absolute;
	left:50%;
	top:30%;
	transform:translateX(-50%); 
	-webkit-transform:translateX(-50%); 
}
.huis__notice-btn {
	margin-top: 30px;
}
.huis__notice-btn .huis__buy-in {
	margin:0 auto;
	display:block;
}
.huis__dialog-tit {
	height:39px;
	background:url(../images/2017/laughe.png) no-repeat left center;
	text-indent:50px;
	color:#555555;
	font-size:22px;
	line-height:39px;
	padding:20px 0;
	margin-left:10px;
}
.huis__dialog-text {
	color:#999999;
	font-size:16px;
	margin-left:10px;
	margin-bottom:40px;
}
.diol_pwd_bg {
	background:#fff url(../images/2017/bank_bg.jpg) no-repeat center top !important;
}
.huis__dialog-link {
	text-align:right;
	margin-top:20px;
	margin-right:-48px;
}
.huis__dialog-link a {
	color:#2491dd;
}
.huis_detail {
	width:1200px;
	height:465px;
	background:#fff;
	margin-top:30px;
	border:1px solid #f1f0f0;
}
.huis__detail-left {
	width:575px;
	height:100%;
	float:left;
}
.huis__detail-right {
	width:600px;
	float:left;
}
.huis__detail-tit {
	margin-top:35px;
	color:#333333;
	font-size:18px;
	font-weight:bold;
}
.huis__detail-tit span {
	float:right;
	color:#858484;
	font-size:14px;
	font-weight:normal;
}
.huis__detail-info{
	width:600px;
	border-bottom:1px solid #e6e6e6;
	margin-top:25px;
	padding-bottom: 30px;
}
.huis__detail-info__item1 {
	width:250px;
	float:left;
}
.huis__detail-info__item2 {
	width:190px;
	float:left;
}
.huis__detail-info p:first-child {
	color:#333333;
	font-size:16px;
}
.huis__detail-info p.huis__detail-info__num {
	color:#ff7800;
	font-size:30px;
	margin-top:15px;
}
.huis__detail-info span {
	color:#858484;
	font-size:14px;
}
.huis__detail-info__risk {
	font-size:16px;
	color:#333333;
	margin-top:25px;
}
.huis__detail-info p img {
	margin-right:3px;
}
.huis__detail-in p {
	color:#333333;
	font-size:16px;
	font-weight:bold;
	margin-top:25px;
}
.huis__detail-in__input input {
	width:270px;
	height:40px;
	border:1px solid #e4e4e4;
	border-radius:5px;
	text-indent:15px;
	margin:15px 0px;
}
.huis__detail-in__btn a {
	display:block;
	width:270px;
	height:40px;
	background:#da922d;
	line-height:40px;
	text-align:center;
	color:#fff;
	border-radius:40px;
	font-size:18px;
	letter-spacing:1px;
}
.huis__detail-in__btn a:hover {
	text-decoration:none;
	color:#fff;
}
.huis__intro {
	background:#fff;
	border:1px solid #e6e6e6;
	width:1200px;
	margin-top:15px;
}
.huis__intro-tit {
	margin:30px 20px 0px 25px;
	padding-bottom:15px;
	font-size:18px;
	color:#333333;
	border-bottom:1px solid #e6e6e6;
}
.huis__intro-tit span {
	display:inline-block;
	height:19px;
	width:5px;
	background:#da922d;
	position:relative;
	top:2px;
	margin-right:8px;	
}
.huis__intro-list {
	margin:20px 0 0 25px;
	font-size:16px;
	color:#858484;
	
}
.huis__intro-list li {
	margin-bottom:16px;
}
.huis__intro-list__top {
	margin-top:35px;
}
.huis__intro-date {
	margin-left:45px;
	margin-top:30px;
	margin-bottom:20px;
	position:relative;
}
.huis__intro-date__line {
	position:absolute;
	border-bottom:1px dashed #e0e0e0;
	width:58px;
	height:1px;
}
.huis__intro-date__box {
	width:95px;
	float:left;
	border:1px solid #e0e0e0;
	border-radius:3px;
	text-align:center;
	vertical-align: center;
	margin-right:60px;
}
.line1 {
	left:99px;
	top:35px;
}
.line2 {
	left:255px;
	top:35px;
}
.line3 {
	left:420px;
	top:35px;
}
.huis__intro-date__box span:first-child {
	height:42px;
	padding:15px 0px;
	display:block;
}
.huis__intro-date__box1 {
	line-height:45px;
}
.huis__intro-date__box4 {
	line-height:45px;
	border:none;
}
.huis__rule {
	border:1px solid #e0e0e0;
	margin:20px 0px 20px 45px;
}
.huis__rule td {
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #f6f6f6;
}
.huis__rule tr:last-child td {
	border-bottom:none;
}
.huis__rule tr td:last-child {
	border-right:none;
	text-indent:40px;
}
.huis__intro-calc {
	margin:20px 45px 20px 45px;
	font-size:16px;
	color:#858484;
}
.huis__calc-table {
	margin-left:45px;
	border:1px solid #e0e0e0;
}

.huis__calc-table td {
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #f6f6f6;
	width:280px;
	height:46px;
	text-align:center;
}
.huis__calc-table th {
	height:46px;
	background:#f6f6f6;
	text-align:center;
}
.huis__calc-table tr th:last-child {
	border-right:none;
}
.huis__calc-table tr:last-child td {
	border-bottom:none;
}
.huis__calc-table tr td:first-child {
	text-align:left;
	text-indent:30px;
}
.huis__calc-table tr td:last-child {
	border-right:none;
	text-indent:40px;
}
.huis_rule-note {
	font-size:16px;
	margin:20px 0 0 45px;
}
.huis_rule-ss {
	font-size:14px;
	color:#858484;
	margin:0px 0 30px 45px;
	margin-top:2px;
}
.huis_rule-ss li {
	margin-top:5px;
}
.huis__success {
	margin-top:25px;

}
.huis__success {
	width:565px;
	background:url(../images/2017/bank_liu.png) no-repeat left top;
	margin-left:220px;
	padding-left:70px;
}
.huis__success-datetime {
	padding-left:220px;
	margin-top:60px;
}
.huis__success-notice {
	font-size:16px;
	color:#494949;
	padding-top:10px;
}
.huis__success-notice strong {
	font-weight:bold;
	color:#494949;
	font-size:20px;
}
.huis__success-date {
	font-size:16px;
	color:#494949;
	padding-top:55px;
}
.huis__success span.org {
	color:#da922d;
}
.huis__success-porfit {
	padding-top:57px;
	font-size:16px;
	color:#494949;
}
.huis__success-min {
	font-size:14px;
	color:#494949
}
.huis__success-min span {
	color:#da922d;
}
.huis__success-btn a.huis__success-btn__in {
	width:210px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#ffffff;
	font-size:18px;
	background:#da922d;
	display:inline-block;
	border-radius:40px;
	margin-top:35px;
}
.huis__success-btn a.huis__success-btn__in:hover {
	text-decoration:none;
}
.huis__success-btn__link {
	font-size:18px;
	color:#23c1e9;
	text-decoration:underline;
	margin-left:60px;
}
.huis_details {
	height:auto;
}
.huis__success-datetime > p {
	font-size:18px;
	color:#333333;
	font-weight:bold;
}
.huis__success-tt {
	margin:10px 0px;
}
.huis__calc-table2 {
	margin:20px 0px 80px;
}
.huis__success-error {
	background-image:url(../images/2017/bank_notice.png);
}
.huis__error {
	font-size:16px;
	color:#494949;
	padding-top:8px;
}
.huis__error span {
	font-size:20px;
	color:#e65124;
	font-weight:bold;
	margin-right:10px;
}
.huis__reason {
	margin-top:25px;
	color:#494949;
	font-size:16px;
}
.huis__echarts-title {
	width:480px;
	margin:35px auto 0 auto;
	border-bottom:1px solid #e6e6e6;
}
.huis__echarts-title a {
	display:inline-block;
	width:110px;
	text-align: center;
	height:32px;
	line-height:32px;
	color:#333333;
	background:#f6f6f6;
}
.huis__echarts-title a:last-child {
	margin-left:10px;
}
.huis__echarts-title a.cur {
	font-weight:bold;
	border:1px solid #e6e6e6;
	border-bottom:1px solid #fff;
	margin-bottom:-1px;
	background:#fff;
}
.huis__echarts-title a:hover {
	text-decoration:none;
}
.huis__echarts-sub {
	width:480px;
	margin:15px auto 0 auto;	
}
.huis__echarts-sub a {
	color:#858484;
	font-size:14px;
	border-right:1px solid #eeeeee;
	display:inline-block;
	padding:0px 25px;
}
.huis__echarts-sub a:last-child {
	border-right:none;
	background:#eaedf4;
	border-radius:20px;
	margin-left:20px;
	padding:2px 25px;
}
.huis__echarts-wrap {
	width:510px;
	height:285px;
	margin:10px auto 0;
}
.huis__echarts-btn {
	margin-top:10px;
	text-align:center;
}
.huis__echarts-btn a {
	font-size:16px;
	color:#858585;
	border-bottom:1px solid #dcdcdc;
	padding-bottom:5px;
	margin-right:30px;
}
.huis__echarts-btn a:hover {
	text-decoration:none;
}
.huis__echarts-btn a.cur {
	color:#ff7800;
	border-bottom:1px solid #ff7800;
}
a:hover {
	text-decoration:none;
}
.huis__sub-right {
	float:right;
	font-size:14px;
	margin-right:30px;
}
.huis__sub-right a {
	color:#2491dd;
	margin-left:5px;
}
.loading-gif-wrap {
	height:600px;
	background:#fff;
	border:1px solid #ddd;
}
.huis__pannel-forget {
    font-size: 14px;
    color: #2491dd;
    padding-left: 30px;
    position:relative;
    bottom:7px;
}
.huis__pannel-forget:hover {
	color:#23c1e9;
}
.huis__detail-protocol {
	margin-top:10px;
}
.huis__detail-protocol input {
	position:relative;
	top:1px;
}
.huis__detail-protocol a:hover {
	color:#333;
}
.huis__calc-advs {
	margin:30px 45px 60px;
	color:#169BD5;
	font-size:14px;

}
.huis__calc-advs li {
	margin-bottom:12px;
}
.huis__calc-advs a {
	color:#169BD5;
}
.huis__calc-advs a:hover {
	text-decoration:underline;
}
.huis__calc-advs span {
	float:right;

}