html,
body {
    height: 100%;
}

.container {
}

.container .content {
/*    padding-bottom: 315px;*/
    min-height: 100%;
    height: 100%;
}

.footer {
    margin-top: -295px;
    height: 295px;
}


/*.user-panel {
    width: 318px;
    float: left;
    border: 1px solid #ddd;
    margin-top: 25px;
    height: 380px;
    background: #fff url(../images/userpanel-bg.jpg) 0 0 no-repeat;
    position: relative;
}

.avator {
    width: 102px;
    height: 97px;
    border-radius: 50px;
    background: rgba(255, 255, 255, .5);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#60ffffff, endColorstr=#60ffffff);
    margin: 0 auto;
    position: relative;
    top: 74px;
    padding-top: 5px;
    overflow: hidden;
}

.avator a {
    display: block;
}

.avator img {
    display: block;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    border-radius: 46px;
}

.user-panel ul {
    text-align: center;
    padding-top: 75px;
}

.user-panel .name {
    font-size: 16px;
    color: #808080;
    padding: 5px 0;
}

.user-panel .money {
    color: #F64349;
    font-size: 26px;
    font-weight: 800;
}

.user-panel .money sub {
    position: relative;
    top: -6px;
    left: -3px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
}

.user-panel .sug {
    padding-top: 5px;
}

.user-panel .sug span {
    border-left: 1px solid #C6C6C6;
    padding-left: 15px;
    margin-left: 15px;
    color: #808080;
}

.user-panel .btns {
    text-align: center;
    padding-top: 20px;
}

.user-panel .btns a {
    display: inline-block;
    width: 80px;
    height: 26px;
    border: 1px solid #F22E45;
    color: #F22E45;
    text-align: center;
    line-height: 26px;
    margin: 0 4px;
}

.user-panel .btns a.light {
    background: #F22E45;
    color: #fff;
}

.user-panel .btns a:hover {
    text-decoration: none;
}*/

.user-info {
    background: #fff;
    border: 1px solid #DADBDB;
    margin-top: 20px;
    position: relative;
}
.user-info .cert-tips{
    position: absolute;
    padding: 5px 12px;
    background: #fff;
    border-radius: 3px;
    top:10px;
    right: 10px;
}
.user-info .hd {
    height: 90px;
    background-image: url(https://static.hehenian.com/p/images/user_info_bg.jpg);
}

.user-info .avator {
    border-radius: 50px;
    background: rgba(255, 255, 255, .5);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#60ffffff, endColorstr=#60ffffff);
    width: 62px;
    height: 62px;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    _display: inline;
    margin: 10px 0 0 75px;
}

.user-info .avator img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.user-info .phone {
    font-size: 22px;
    line-height: 90px;
    color: #fff;
    padding-left: 40px;
    float: left;
}
.user-info .icons{
    float: left;
    padding: 32px 0 0 40px;
}
.user-info .icons li{
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-image: url(https://static.hehenian.com/p/images/user_info_icon.png);
    float: left;
    margin-right: 20px;
}
.user-info .icons li a{display: block;height: 30px;}
.user-info .icons li.cert1{
    background-position: 0 0;
}
.user-info .icons li.cert2{
    background-position: 0 -30px;
}
.user-info .icons li.cert3{
    background-position: 0 -60px;
}
.user-info .icons li.cert4{
    background-position: 0 -90px;
}
.user-info .icons li.cert5{
    background-position: 0 -120px;
}
.user-info .icons li.cert1-not{
    background-position: -30px 0;
}
.user-info .icons li.cert2-not{
    background-position: -30px -30px;
}
.user-info .icons li.cert3-not{
    background-position: -30px -60px;
}
.user-info .icons li.cert4-not{
    background-position: -30px -90px;
}
.user-info .icons li.cert5-not{
    background-position: -30px -120px;
}
.user-info .check-amount{
    float: left;
    height: 215px;
    width: 377px;
    padding-left: 28px;
    border-right: 1px solid #DADBDB;
}

.user-info .check-amount h3{
    font-weight: 400;
    padding-top: 30px;
}
.user-info .check-amount .total{
    font-size: 36px;
    color: #F64349;
    padding-right: 20px;
}
.user-info .check-amount .btns{padding-top: 10px;float: right;width: 144px;}
.user-info .check-amount .btns a{display: block;
    float: left;
    width: 56px;
    height: 28px;
    border: 1px solid #F64349;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #F64349;
}
.user-info .check-amount .btns a.light{
    background: #F64349;
    color: #fff;
}
.user-info .check-amount .btns a:hover,
.user-info .check-amount .btns a.light:hover{
    background: #d6283d;
    color: #fff;
    text-decoration: none;
}
.user-info .check-meta{
    float: left;
    width:652px ;
}
.incharge p{padding-top: 15px;
padding-left: 20px;
background: url(../images/icon-wenhao.png) no-repeat 0 18px;
}
.user-info .check-meta .yesterday{
    height: 126px;
    border-bottom: 1px solid #DADBDB;
    padding-left: 54px;
    position: relative;
}
.user-info .check-meta .yesterday .plus{
    position: absolute;
    top:21px;
    left:360px;
    font-size: 30px;
    color: #F64349;
}
.user-info .check-meta .yesterday .equal{
    position: absolute;
    top:21px;
    left:168px;
    font-size: 30px;
    color: #F64349;
}
.user-info .check-meta .yesterday .left{
    width: 192px;
}
.user-info .check-meta .yesterday h3{
    font-weight: 400;
    padding-top: 34px;
}
.user-info .check-meta .yesterday p{
    font-size: 32px;
    color: #F64349;
}
.user-info .check-meta .list{
    padding-left: 39px;
}
.user-info .check-meta .list li{
    float: left;
    height: 58px;
    overflow: hidden;
    margin-top: 5px;
    width: 128px;
    padding: 20px 0 0 20px;
    border-right: 1px solid #DADBDB;
}
.user-info .check-meta .list li.last{
    border: none;
}
.pro-panel {
    background: #fff;
    border: 1px solid #ddd;
    width: 718px;
    float: right;
    margin-top: 25px;
    height: 380px;
}

.formula {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px dashed #DFDFDF;
    margin: 0 10px;
}

.formula .item {
    display: inline-block;
    text-align: center;
    line-height: 1;
    height: 48px;
    overflow: hidden;
    color: #4D4D4D;
}

.formula .item p {
    font-size: 20px;
}

.formula .item p sub {
    font-size: 12px;
    position: relative;
    top: -6px;
}

.formula .item i {
    display: block;
    height: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.formula i.i1 {
    background: #F64349;
}

.formula i.i2 {
    background: #00D1C1;
}

.formula i.i3 {
    background: #7ACC3A;
}

.formula i.i4 {
    background: #F3A220;
}

.formula .symbol {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    height: 48px;
    line-height: 48px;
    color: #999;
    vertical-align: top;
}

.pro-table {
    margin: 0 12px;
}

.pro-table table {
    width: 100%;
    border: 1px solid #F2F2F2;
}

.pro-table table th {
    font-size: 16px;
}

.pro-table table .first {
    padding-left: 40px;
}

.pro-table table th,
.pro-table table td {
    border-bottom: 1px solid #F2F2F2;
    padding: 8px 0;
}

.pro-table table th {
    background: #F2F2F2;
}

.pro-table table a {
    color: #00D1C1;
}

.hot-pro-wrap {
    border: 1px solid #DADBDB;
    margin-top: 20px;
    background: #fff;
    position: relative;
}

.hot-pro-wrap .title {
    width: 190px;
    height: 47px;
    position: absolute;
    top: -16px;
    left: -13px;
    background: url(../images/hot-title.png);
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src="https://static.hehenian.com/p/images/hot-title.png");
    z-index: 2;
}

.hot-pro {
    background: #fff;
    float: left;
    height: 258px;
    width: 319px;
    border-right: 1px solid #DADBDB;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.hot-pro .checkbox{
    width: 57px;
    height: 56px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(https://static.hehenian.com/p/images/hot-pro-active.png);
    _background-image: url(https://static.hehenian.com/p/images/hot-pro-active_ie6.png);
    display: none;
}
.hot-pro:hover, .hot-pro-active{
    background-image: url(https://static.hehenian.com/p/images/user_center_pro_hover_bg.png);
}
.hot-pro-active .checkbox{
    display: block;
}
.hot-pro .name {
    padding: 46px 0 0 80px;
    /*font-weight: 800;*/
    color: #333;
    white-space: nowrap;
}

.hot-pro .name p {
    font-size: 28px;
    float: left;
}

.hot-pro .name b {
    display: block;
    float: left;
    font-size: 0;
    width: 1px;
    height: 26px;
    background: #C3C3C3;
    margin: 10px 10px 0;
}

.hot-pro .name span {
    font-size: 20px;
    display: block;
    float: left;
    padding-top: 10px;
}

.hot-pro .percent {
    text-align: center;
    color: #F64349;
    font-size: 65px;
    font-family: Arial;
    line-height: 1.4;
    /*font-weight: 600;*/
}

.hot-pro .percent sub {
    font-size: 14px;
    color: #4D4D4D;
    position: relative;
    top: -14px;
    left: -10px;
    font-weight: normal;
}

.hot-pro .sumary {
    font-size: 18px;
    text-align: center;
}

.hot-form {
    background: #fff;
    padding-left: 60px;
    float: left;
}

.hot-form label {
    display: block;
    padding-top: 20px;
    font-size: 16px;
    padding-bottom: 5px;
}

.hot-form .input {
    border: 2px solid #F896A2;
    width: 194px;
    padding: 8px;
}

.hot-form ul {
    line-height: 22px;
    padding: 8px 0;
}

.hot-form .agreement label {
    font-size: 12px;
    padding: 0;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.hot-form .agreement input {
    vertical-align: -2px;
    margin-right: 3px;
}

.hot-form .btn {
    display: block;
    width: 214px;
    height: 40px;
    line-height: 40px;
    background: #F22E45;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.hot-form .btn:hover {
    text-decoration: none;
    background: #da263c;
}

.fixed-nav {
    width: 130px;
    position: absolute;
    background: #fff;
    top: 64px;
    height: 100%;
    border-right: 1px solid #E7E8E8;
    border-top: 1px solid #E7E8E8;
    box-shadow: 2px 0 3px rgba(0, 0, 0, .1);
}

.fixed-nav li {
    border-bottom: 1px solid #ccc;
    position: relative;
}

.fixed-nav li .first {
    display: block;
    font-size: 16px;
    height: 56px;
    line-height: 56px;
}

.fixed-nav li .first:hover {
    text-decoration: none;
    color: #F64349;
}

.fixed-nav li .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
    left: 10px;
    margin-right: 15px;
}

.fixed-nav li .icon-self {
    background-position: 0 0;
}

.fixed-nav li .icon-order {
    background-position: 0 -30px;
}

.fixed-nav li .icon-history {
    background-position: 0 -60px;
}

.fixed-nav li .icon-invite {
    background-position: 0 -90px;
}
.fixed-nav li .icon-tutor {
    background-position: 0 -180px;
}
.fixed-nav li .icon-safety {
    background-position: 0 -120px;
}

.fixed-nav li .icon-loginout {
    background-position: 0 -150px;
}

.fixed-nav li .corner {
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #F64349;
    position: absolute;
    right: -12px;
    top: 23px;
    display: none;
}

.fixed-nav li.on .corner {
    display: block;
}

.fixed-nav li.on .first {
    background: #F64349;
    color: #fff;
}

.fixed-nav li.on .icon-self {
    background-position: -30px 0;
}

.fixed-nav li.on .icon-order {
    background-position: -30px -30px;
}

.fixed-nav li.on .icon-history {
    background-position: -30px -60px;
}

.fixed-nav li.on .icon-invite {
    background-position: -30px -90px;
}
.fixed-nav li.on .icon-tutor {
    background-position: -30px -180px;
}
.fixed-nav li.on .icon-safety {
    background-position: -30px -120px;
}

.fixed-nav li.on .icon-loginout {
    background-position: -30px -150px;
}

.fixed-nav .second {
    padding: 12px 0;
    display: none;
}

.fixed-nav .second a {
    display: block;
    padding-left: 45px;
}

.fixed-nav .second a:hover {
    text-decoration: none;
    color: #F64349;
}

.fixed-nav .second a i {
    display: none;
}

.fixed-nav .second a.new {
    color: #F64349;
}

.fixed-nav .second a.new i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../images/icons.png) -73px -162px no-repeat;
}


/*爱订宝*/

.pro-exponent {
    border: 1px solid #E1E2E2;
    background: #fff;
    height: 108px;
}

.pro-exponent li {
    width: 24%;
    float: left;
    text-align: center;
    height: 63px;
    padding: 10px 0;
    margin-top: 14px;
}

.pro-exponent li.last p {
    color: #F64349;
}

.pro-exponent li.last {
    border-left: 1px solid #E5E5E5;
}

.pro-exponent li span {
    font-size: 16px;
    color: #666;
    padding-left: .5em;
    display: block;

}
.help-tip{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(https://static.hehenian.com/p/images/icon-wenhao.png);
    cursor: pointer;
    position: relative;
    top: -8px;
    z-index: 10;
}

.pro-exponent li p {
    font-size: 26px;
}

.ex-table {
    margin-top: 20px;
    background: #fff;
    border: 1px solid #E1E2E2;
    padding: 10px 0 20px;
}
.ex-table-tab{
    padding-left: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    color: #222;
    height: 50px;
}
.ex-table-tab li{
    float: left;
    border-bottom: 2px solid #ccc;
}
.ex-table-tab li a{
    display: block;
    float: left;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-bottom: 2px solid #ccc;
    position: relative;
    bottom: -2px;
}
.ex-table-tab li.on a{
    border-bottom: 2px solid #F64349;
}
.ex-ft-btns{
    text-align: center;
    padding-top: 20px;
    font-size: 0;
}
.ex-ft-btns a{
    display: inline-block;
    width: 100px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    font-size: 16px;margin: 0 10px;
}
.ex-ft-btns a.yellow{background: #F3A220;}
.ex-ft-btns a.green{background: #7ACC3A;}
.ex-ft-btns a.yellow:hover{background: #D38E1C;text-decoration: none;}
.ex-ft-btns a.green:hover{background: #62A72E;text-decoration: none;}
/*交易记录*/

.trade-detial {
    height: 138px;
    background: #fff;
    border: 1px solid #E1E2E2;
    margin-top: 20px;
}

.trade-detial .total {
    text-align: center;
    width: 344px;
    height: 138px;
    float: left;
    border-right: 1px solid #E1E2E2;
    float: left;
}

.trade-detial .total span {
    font-size: 16px;
    display: block;
    padding-left: .5em;
    padding-top: 40px;
    color: #666;
}

.trade-detial .total p {
    font-size: 26px;
    color: #F64349;
}

.trade-exdetail {
    height: 138px;
    float: left;
}

.trade-exdetail li {
    float: left;
    margin-left: 80px;
    width: 150px;
    *display: inline;
}

.trade-exdetail span {
    display: block;
    font-size: 16px;
    color: #666;
}

.trade-exdetail p {
    font-size: 20px;
    color: #333;
}

.trade-exdetail ul {
    margin-left: 10px;
    padding-top: 20px;
    padding: 6px 0;
}

.trade-exdetail .border {
    border-bottom: 1px solid #E1E2E2;
}

.trade-exdetail .btn a {
    display: block;
    width: 78px;
    height: 28px;
    border: 1px solid #F22E45;
    line-height: 28px;
    text-align: center;
    color: #F22E45;
    margin-top: 13px;
}

.trade-exdetail .btn a:hover {
    color: #fff;
    background: #F22E45;
    text-decoration: none;
}

.search-filter {
    /*height: 92px;*/
    padding-bottom: 16px;
    border: 1px solid #E1E2E2;
    background: #fff;
}

.search-filter .item {
    padding-left: 50px;
    padding-top: 16px;
}

.search-filter label {
    color: #666;
}

.search-filter .time,
.search-filter .search-input {
    width: 130px;
    border: 1px solid #DFDFDF;
    background: url(../images/time.png) 117px 50% no-repeat;
    margin-left: 20px;
    padding: 2px 5px;
    cursor: pointer;
}

.search-filter .search-input {
    background: none;
    margin-right: 0;
}

.search-filter .btn {
    padding: 2px 5px;
    width: 32px;
    position: relative;
    bottom: -5px;
    left: -5px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #DFDFDF;
    background: url(../images/search-btn.png) 50% 50% no-repeat;
}

.search-filter .item a {
    padding: 2px;
    margin-left: 20px;
    padding: 2px 5px;
}

.search-filter .item a.on,
.search-filter .item a.on:hover {
    background: #F64349;
    color: #fff;
    cursor: default;
}

.search-filter .item a:hover {
    color: #F64349;
    text-decoration: none;
}


/*认证中心*/

.cert-info-panel {
    background: #fff;
    border: 1px solid #E2E3E3;
    height: 86px;
}

.cert-info-panel p {
    float: left;
    padding-left: 40px;
    line-height: 86px;
}

.cert-info-panel .phone {
    font-size: 26px;
    color: #F64349;
}

.cert-info-panel .mail {
    font-size: 16px;
    color: #666;
}

.cert-wrap {
    background: #fff;
    border: 1px solid #E2E3E3;
    margin: 20px 0 0;
    padding: 0 25px;
}

.cert-wrap .item {
    border-bottom: 1px dashed #E2E3E3;
    height: 74px;
    line-height: 74px;
}

.cert-wrap .left {
    float: left;
}

.cert-wrap .right {
    float: right;
}

.cert-wrap .name {
    font-size: 20px;
}

.cert-wrap .info {
    float: right;
    padding-right: 20px;
}

.cert-wrap .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../images/icons.png);
    margin-top: 18px;
    margin-right: 14px;
}

.cert-wrap .icon-name {
    background-position: -60px 0;
}

.cert-wrap .icon-phone {
    background-position: -60px -40px;
}

.cert-wrap .icon-mail {
    background-position: -60px -80px;
}

.cert-wrap .icon-psw {
    background-position: -60px -120px;
}
.cert-wrap .icon-bank {
    background-position: -60px -240px;
}
.cert-wrap .icon-firm {
    background-position: -60px -200px;
}

.cert-wrap .icon-name-done {
    background-position: -100px 0;
}

.cert-wrap .icon-phone-done {
    background-position: -100px -40px;
}

.cert-wrap .icon-mail-done {
    background-position: -100px -80px;
}

.cert-wrap .icon-psw-done {
    background-position: -100px -120px;
}
.cert-wrap .icon-bank-done {
    background-position: -100px -240px;
}
.cert-wrap .icon-firm-done {
    background-position: -100px -200px;
}
.cert-wrap .btn,
.cert-wrap .btn-done {
    width: 80px;
    height: 28px;
    border: 1px solid #F22E45;
    color: #F22E45;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    margin-top: 22px;
}

.cert-wrap .btn-done {
    background: #00D1C1;
    color: #fff;
    border: 1px solid #00D1C1;
}

.cert-wrap .btn:hover {
    text-decoration: none;
    background: #F22E45;
    color: #fff;
}

.last-brder-over {
    height: 1px;
    background: #fff;
    overflow: hidden;
    position: relative;
    top: -1px;
}


/*邀请好友*/

.row-wrap {
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.row-wrap-blank {
    margin-bottom: 20px;
}

.row-wrap .title,
.invite-wrap .title,
.invite-friend .title {
    font-size: 18px;
    font-weight: 400;
    padding-left: 40px;
    padding-top: 10px;
    color: #333;
}

.mt20 {
    margin-top: 20px;
}

.month-income {
    height: 108px;
    float: left;
    padding-left: 40px;
}

.month-income .item {
    float: left;
    padding-right: 45px;
    padding-top: 25px;
}

.month-income .item h3 {
    font-size: 16px;
    color: #666;
    font-weight: 400;
}

.month-income .item p {
    font-size: 26px;
    color: #F64349;
}

.invite-introduce {
    padding-left: 40px;
    float: left;
    width: 600px;
    margin-top: 20px;
    border-left: 1px solid #E5E5E5;
}

.invite-introduce h3 {
    font-weight: normal;
    font-size: 20px;
}

.step-wrap .item {
    float: left;
    width: 30%;
    padding: 20px 0;
}

.step-wrap .item .icon {
    width: 67px;
    height: 67px;
    float: left;
    margin-right: 15px;
    *display: inline;
    margin-left: 30px;
}

.step-wrap .step-1 .icon {
    background: url(https://static.hehenian.com/p/images/icon-step-1.png);
}

.step-wrap .step-2 .icon {
    background: url(https://static.hehenian.com/p/images/icon-step-2.png);
}

.step-wrap .step-3 .icon {
    background: url(https://static.hehenian.com/p/images/icon-step-3.png);
}

.step-wrap h3 {
    font-size: 28px;
}

.step-wrap .step-1 h3 {
    color: #F7B017;
}

.step-wrap .step-2 h3 {
    color: #7AC943;
}

.step-wrap .step-3 h3 {
    color: #1FBCBD;
}

.step-corner {
    float: left;
    border-color: transparent transparent transparent #eee;
    border-width: 10px;
    border-style: dashed dashed dashed solid;
    margin-top: 45px;
}

.invite-wrap {
    width: 378px;
    height: 216px;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
}

.invite-wrap .item {
    float: left;
    text-align: center;
    padding: 40px 36px 0;
    *display: inline;
    margin-left: 32px;
    cursor: pointer;
}

.invite-friend {
    border: 1px solid #ddd;
    background: #fff;
    float: right;
    width: 658px;
    height: 216px;
}

.filter-hd .title {
    float: left;
}

.filter-hd .btn {
    float: right;
    background: #F22E45;
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 34px;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
    margin: 10px 40px 0 0;
}

.filter-hd .input {
    float: right;
    font-size: 14px;
    position: relative;
    margin-top: 10px;
    padding-right: 40px;
}

.filter-hd .input input {
    width: 86px;
    padding: 6px;
}

.filter-hd .input button {
    background: #ffb002;
    height: 37px;
    border: none;
    color: #fff;
    padding: 0 12px;
    cursor: pointer;
}

.filter-hd .input button:hover {
    background: #e9a104;
}

.filter-hd i.arrow {
    border-width: 6px;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #cbcbcb transparent transparent;
    position: absolute;
    top: 16px;
    right: 104px;
}
.filter-hd select{
    padding: 7px;
    width: 100px;
    border: 1px solid #A9A9A9;
}

.invite-wrap-in {
    margin: 10px 40px 0;
}

.invite-data-list {
    border: 1px solid #F2F2F2;
    height: 125px;
}

.invite-data-list .item {
    float: left;
    width: 209px;
    text-align: center;
    border-right: 1px solid #F2F2F2;
    margin: 30px 0;
}
.invite-data-list2 .item {
    width: 324px;
}

.invite-data-list .item-last {
    border-right: none;
}

.invite-data-list h3 {
    font-size: 16px;
    color: #666;
}

.invite-data-list p {
    font-size: 26px;
    color: #F22E45;
}

.invite-table {
    margin: 20px 0;
}


/*充值*/

.col-wrap {
    background: #fff;
    border: 1px solid #E1E2E2;
}

.title-bar {
    border-bottom: 1px solid #DFDFDF;
    margin: 0;
    padding: 20px 20px 10px;
    height: 45px;
    background: #F3F8FE;
}

.title-bar h3 {
    float: left;
    font-size: 22px;
    font-weight: 400;
    padding-left: 0;
    color: #014D7F;
}

.title-bar .link {
    color: #00D1C1;
    font-size: 16px;
    float: right;
    position: relative;
    bottom: -10px;
}

.plat-form {
    margin-left: 20px;
    padding: 40px;
}

.plat-form .label {
    font-size: 14px;
    color: #999999;
    padding-right: 20px;
    display: block;
    width: 100px;
    line-height: 52px;
}

.plat-form .text {
    font-size: 14px;
}

.plat-form td {
    height: 60px;
}

.plat-form .txt {
    width: 260px;
    height: 40px;
    border: 1px solid #DFDFDF;
    padding: 0 10px;
    font-size: 16px;
}

.plat-form .txt-min {
    width: 96px;
    float: left;
}
.plat-form .default{
    color: #999;
    font-weight: 400;
}

.plat-form .input-btn {
    /*float: right;*/
    height: 52px;
    width: 152px;
    display: inline-block;
    line-height: 52px;
    text-align: center;
    background: #F64349;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.plat-form .submit {
    display: block;
    width: 280px;
    height: 52px;
    background: #F64349;
    text-align: center;
    line-height: 52px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
}

.plat-form .error {
    border: 1px solid #FA8F90;
    background: #FFDBD7 url(https://static.hehenian.com/p/js/center/dialog/error.png) 5px 50% no-repeat;
    color: #F64349;
    font-size: 12px;
    padding: 5px 10px;
    padding-left: 30px;
    display: none;
    margin-top: 8px;
    width: 238px;
}

.plat-form a.disabled,
.plat-form a.disabled:hover {
    background: #CBCBCB;
    color: #959595;
    cursor: default;
}

.plat-form select{
    padding: 12px;
    border: 1px solid #DFDFDF;
    width: 130px;
}

.tip-list {
    background: #fff;
    padding: 20px 60px;
}

.tip-list dt {
    font-size: 16px;
    padding-bottom: 12px;
}

.tip-list .last {
    color: #e65124;
}


/*绑卡*/
.banks-list{
    width: 790px;
}
.banks-list li{
    width: 150px;
    height: 38px;
    background-image: url(https://static.hehenian.com/p/images/banks-list.png?v=20161115);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.banks-list li a{
    display: block;
    height: 36px;
    border: 1px solid #D9D9D9;
}
.banks-list li.BOC{background-position: 0 0;}
.banks-list li.CCB{background-position: 0 -38px;}
.banks-list li.PSBC{background-position: 0 -76px;}
.banks-list li.CMB{background-position: 0 -114px;}
.banks-list li.PINGAN{background-position: 0 -152px;}
.banks-list li.SPN{background-position: 0 -190px;}
.banks-list li.HUAXIA{background-position: 0 -228px;}
.banks-list li.ABC{background-position: 0 -266px;}
.banks-list li.CIB{background-position: 0 -304px;}
.banks-list li.CITIC{background-position: 0 -342px;}
.banks-list li.ICBC{background-position: 0 -380px;}
.banks-list li.CEB{background-position: 0 -418px;}
.banks-list li.ShangHai{background-position: 0 -456px;}
.banks-list li.CBHB{background-position: 0 -494px;}
.banks-list li.BCM{background-position: 0 -532px;}
.banks-list li.CMBC{background-position: 0 -570px;}
.banks-list li.CGB{background-position: 0 -608px;}
.banks-list li.NBCB{background-position: 0 -646px;}
.banks-list li.BEA{background-position: 0 -684px;}
.banks-list li.NJCB{background-position: 0 -722px;}
.banks-list li.NJCB{background-position: 0 -722px;}
.banks-list li.BOB{background-position: 0 -760px;}
.banks-list li.BOCD{background-position: 0 -798px;}
.banks-list li.SRCB{background-position: 0 -874px;}
.banks-list li.BRCB{background-position: 0 -836px;}

.banks-list li.CZB{background-position: 0 -912px;}
.banks-list li.HSBANK{background-position: 0 -950px;}
.banks-list li.FDB{background-position: 0 -988px;}
.banks-list li.WZCB{background-position: 0 -1026px;}
.banks-list li.HZBANK{background-position: 0 -1064px;}

.banks-list li.QDCB{background-position: 0 -1103px;}

.banks-list li a:hover{
    border: 1px solid #F64349;
}
.banks-list li.active{
    background-color: #F4B1A6;
}
.banks-list li.active a{
    border: 1px solid #F64349;
}
.radio{
    vertical-align: -1px;
}

.cert-info-table .hd{
    font-size: 16px;
}
.cert-info-table table{
    margin: 20px 0 10px;
}
.cert-info-table table td{
    padding: 8px 12px;
    font-size: 16px;
    height: auto;
    border: 1px solid #D3D3D3;
}
body .followTip .ui-dialog{
/*    -webkit-animation-name:none ;
    -o-animation-name: none;
    animation-name:none ;*/
    background: #999;
    color: #fff;
}
.followTip .ui-dialog .ui-dialog-body{
    padding: 10px 20px;
}

body .followTip .ui-dialog-arrow-b{
    top: -15px;
    border-bottom:8px solid #999;
}

.tab-content{
}
.tab-content .tab{
    height: 52px;
}
.tab-content .tab li{
    width: 132px;
    float: left;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    background: #F2F2F2;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #DBDBDB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tab-content .tab li.current{
    background: #fff;
    cursor: default;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #fff;
}
.tab-content .tab li.current a,.tab-content .tab li a:hover{
    color: #F64349;
    text-decoration: none;
}

.tab-content-wrap {
    border: 1px solid #DFDFDF;
    background: #fff;
    position: relative;
    top: -1px;
    min-height: 679px;
    z-index: 1;
}


.share-qe{float: left;margin-top: 20px;}
.share-qe .img { width: 193px;height:236px; }
.share-qe img{
    margin-left: 40px;
    padding: 20px;border: 1px solid #E6E6E6;
}
.filter-hd {  height: 50px; }
.share-qe .btns{margin-left: 40px;}
.share-qe .btns a{display: block;width: 107px;float: left;background: #ffb002;color: #fff;text-align: center;
    height: 28px;line-height: 28px;
    margin: 10px 5px 0;border-radius: 32px;-webkit-border-radius:32px;
}
.share-qe .btns a:hover{
    text-decoration: none;
    background: #e9a104;
}
.share-qe .setting{
    margin: 20px 0 20px 45px;
}
.share-qe .setting a{
    padding: 3px 10px;
    margin-left: 14px;
    border: 1px solid #ffb002;
}
.share-qe .setting a:hover{
    background: #ffb002;color: #fff;text-decoration: none;
}
.reward-map{
    float: left;
    margin: 20px 0 0 40px;
    width:605px;
}


.setting-tutor{display: block;width: 250px;padding-left: 20px;}
.setting-tutor input{padding: 5px;margin-top: 8px;width: 216px;border: 1px solid #ccc;}
.setting-tutor p{padding-top: 5px;}
.tutor-error {font-size: 12px; height: 1em; color: #FD6501; }

.mod_submit { width:260px;height:40px;line-height: 40px;background: #e65124;text-align: center;color:#ffffff;letter-spacing: 2px;display: inline-block; font-size: 18px;border-radius: 40px;-webkit-border-radius:40px; }
.mod_submit:hover { text-decoration: none;color:#fff; }
.plat-form .mod_cbtn { color:#ffb002;border:1px solid #ffb002; text-align: center;height:40px;line-height: 40px; background: #fff; }
.mod_dtips{
    color: #999999;
    font-size: 12px;
    /* text-align: center; */
    margin-top: 10px;
    margin-left: 20px;
}
.address-form{padding: 20px;}
.address-form .label{text-align: right;padding-right: 10px;}
.address-form .txt{border:1px solid #afafaf;padding:5px;width:200px;height:18px;line-height:18px;vertical-align:middle;}
.address-form .sel{width:120px;margin-right: 10px;}
.address-form select{padding: 4px 0;float: left;margin-right: 5px;}
.address-form .detail{display:block;margin:0;padding:3px;width:392px;height:62px;border:1px solid #afafaf;font-size:12px;}
.address-form td{padding: 5px 0;}
.address-form .error{padding:0 10px 0 25px;border: 1px solid #FF8080;display: inline-block;height: 28px;line-height: 28px;position: relative;bottom: -1px;background: url(https://static.hehenian.com/p/js/plugins/validform/Validform_v5.3.2/demo/images/error.png) 5px 50% no-repeat #FFF2F2;display: none;}
.address-list{margin: 0 40px 40px;font-size: 12px;}
.address-list table{border: 1px solid #E7E7E7;width: 100%;}
.address-list th{background: #F2F2F2;padding: 10px 10px 10px 20px;}
.address-list td{border-bottom: 1px solid #E7E7E7;padding: 10px 10px 10px 20px;}
.address-list .note{padding:2px 5px;border-color:#ff3800;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#ffd6cc;color:#f30;}
.address-list .default{background: #FFE3B7;color: #CD8836;padding:2px 5px;border-color:#ff3800;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.address-list a{color: #3366CC;}

.orders-tab{height: 52px;border-bottom: 1px solid #DCDCDC;padding-left: 20px;}
.orders-tab a{float: left;display: inline-block;height: 50px;border-bottom: 2px solid #fff;}
.orders-tab a span{display: inline-block;height: 1em;border-right: 1px solid #DCDCDC;padding: 0 20px;float: left;margin-top: 22px;line-height: 1em;}
.orders-tab a.last span{border-right: none;}
.orders-tab a.on,.orders-tab a:hover{border-bottom: 2px solid #FF6000;color: #FF6000;}

.orders-list{margin: 20px;}
.orders-list table{width: 100%;border: 1px solid #DAF3FF;margin-bottom: 20px;}
.orders-list table:hover{box-shadow: 0 0 3px rgba(0,0,0,.2)}
.orders-list th{background: #EAF8FF;border-top: 1px solid #DAF3FF;border-bottom: 1px solid #DAF3FF;}
.orders-list .cBlue{color: #00ABEC}
.orders-list th,.orders-list td{padding:10px;}
.orders-list .lock{background: #FDE5BF;padding: 5px 10px;border-radius: 2px;color: #666;}
.orders-list .lock span{color: #8D5A09}
/* 提现券 */
.free-status { font-size: 14px;color: #ea9e19; }
.free-status input { position: relative; bottom: -2px; }
.free-status input:checked { background-position: 0 100%; }
.free-status .cGray { color: #aaa; }